.side_bar
  .header
    .header__box
      .header__box__user-name
        hallo
      .header__box__menu
        .header__box__menu_new-group
          = link_to new_group_path do
            %i.fa.fa-edit.icon
        .header__box__menu_edit-user
          = link_to edit_user_path(current_user.id) do
            %i.fa.fa-cog.icon

  .groups
    - current_user.groups.each do |group|
      .group
        .group__name
          = group.name
        .group__message
          まだメッセージがありません